/* CSS for AdminPaymentCard component */
.card-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 0;
  }
  
  .card-container p {
    flex: 1;
  }
  
  .card-container select {
    width: 50px;
    margin-right: 0;
  }
  
  .card-container button {
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card-container button.edit-btn {
    background: #9a03fe;
    margin-right: 10px;
  }
  
  .card-container button.delete-btn {
    background: red;
  }
  
  .card-container hr {
    width: 100%;
    border: 1px solid #ccc;
    margin: 10px 0;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .card-container {
      flex-wrap: wrap;
    }
  
    .card-container p,
    .card-container select,
    .card-container button {
      flex: 1 1 100%;
      margin-bottom: 10px;
    }
  
    .card-container button {
      flex: 1 1 45%;
    }
  }
  