.video-description-container {
    width: 100%;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}

h2 {
    font-size: 20px;
}

.title {
    font-size: 15px;
    margin-left: 30px;
    margin: 0px 10px 10px 0px;
}

.video-container {
    width: 100%;
    margin: 0px 10px 10px 0px;
}

.container1 {
    padding: 20px;
    /* border-bottom: 1px solid black; */
    /* border-right: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.container2 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* border-bottom: 1px solid black; */
    text-align: left;
    /* border-right: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.container2>div {
    width: 50%;
}

.container3 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    /* border-bottom: 1px solid black; */
    /* border-right: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.container3>div {
    width: 50%;
    text-align: left;
}

.container4 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    /* border-bottom: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* border-right: 1px solid black; */
}

.container4>div {
    width: 50%;
    text-align: left;
}

.container5 {
    display: flex;
    /* justify-content: space-evenly; */
    padding: 20px;
    /* border-bottom: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* border-right: 1px solid black; */
    margin-bottom: 20px;
}

.container5>div {
    width: 50%;
    text-align: left;
}

.main-video-container {
    width: 100%;
    display: flex;
    text-align: left;
    /* border: 1px solid red; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.left-side {
    /* border: 1px solid red; */
    width: 100%;
}

.right-side {
    text-align: left;
    width: 50%;
    border-top: 1px solid black;
    padding-left: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.right-side h2 {
    margin-bottom: 20px;
    color: purple;
}

.video-nav {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
}

.video-nav>button :hover {
    color: purple;
}

.question {
    width: 100%;
    margin: auto;
}

input{
    border: 1px solid black;
    margin: 10px;
    width: 60%;
}

.ask-btn {
    border: 1px solid black;
    width: 50px;
    height: 30px;
    background-color: purple;
    color: white;
    text-align: center;
    justify-content: center;
}


.question-container{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.question-input{
    margin: auto;
    margin: 20px;
}




@media only screen and (max-width: 600px) {
    .main-video-container {
        width: 100%;
        display: flex;
        text-align: left;
        flex-direction: column;
        /* border: 1px solid red; */
    }

    .right-side {
        text-align: left;
        /* padding: 5px; */
        width: 100%;
        border-top: 1px solid black;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .main-video-container {
        width: 98%;
        display: flex;
        text-align: left;
        flex-direction: column;
        /* border: 1px solid red; */
    }

    .right-side {
        text-align: left;
        /* padding: 5px; */
        width: 100%;
        border-top: 1px solid black;
    }
}

@media only screen and (min-width: 1025px) {
    .main-video-container {
        width: 98%;
        display: flex;
        text-align: left;
        flex-direction: row;
        /* border: 1px solid red; */
    }

    .right-side {
        text-align: left;
        /* padding: 5px; */
        width: 40%;
        border-top: 1px solid black;
    }
}